#rewriting
RewriteEngine on
RewriteRule ^$ /display/index.html [L]
RewriteRule ^sign$ /display/index.html [L]
RewriteRule ^main$ /display/player.php [L]
RewriteRule ^stream/([0-9]+)$ /server/track.php?track=$1 [L]
