            <article class="album">
                <h2><i class="fa fa-dot-circle-o"></i>Album</h2>
                <img ng-if="::album.album.coverPath" class="player-cover" ng-src="{{::album.album.coverPath}}" alt="cover"/>
                <ul class="table">
                    <li class="table-row">
                        <span class="label">Name</span>
                        <span class="value" ng-bind="::album.album.name"></span>
                    </li>
                    <li class="table-row">
                        <span class="label">Artist</span>
                        <span class="value"><a ng-href="/#/artists/{{::album.album.artist.id}}" ng-bind="::album.album.artist.label"></a></span>
                    </li>
                    <li class="table-row">
                        <span class="label">Year</span>
                        <span class="value" ng-bind="::album.album.year"></span>
                    </li>
                    <li class="table-row">
                        <span class="label">Disk</span>
                        <span class="value" ng-bind="::album.album.disk"></span>
                    </li>
                    <li class="table-row">
                        <span class="label">Country</span>
                        <span class="value" ng-bind="::album.album.country"></span>
                    </li>
                </ul>
                <button class="plain-button" ng-click="album.remove()"><i class="fa fa-trash"></i> Delete album</button>
                <ul class="table">
                    <li class="grid-header">
                        <span class="grid-cell">N°</span>
                        <span class="grid-cell">Title</span>
                        <span class="grid-cell">Artist</span>
                        <span class="grid-cell">Duration</span>
                    </li>
                    <li class="grid-row" ng-repeat="track in album.album.tracks track by $index">
                        <span class="grid-cell" ng-bind="::track.track"></span>
                        <span class="grid-cell" ng-bind="::track.title"></span>
                        <span class="grid-cell"><a ng-href="/#/artists/{{::track.artist.id}}" ng-bind="::track.artist.label"></a></span>
                        <span class="grid-cell" ng-bind="::track.time | duration | date:'m:ss'"></span>
                    </li>
                </ul>
            </article>
