            <article class="album" ng-if="album.album.id">
                <h2><i class="fa fa-dot-circle-o"></i>Album</h2>
                <fieldset class="form">
                    <img ng-if="album.album.coverPath" class="player-cover" ng-src="{{album.album.coverPath}}" alt="cover"/>
                    <ul class="table">
                        <li class="table-row">
                            <span class="label">Name</span>
                            <span class="value" ng-if="!album.editMode" ng-bind="album.album.name"></span>
                            <span class="value" ng-if="album.editMode"><input type="text" ng-model="album.album.name"></span>
                        </li>
                        <li class="table-row">
                            <span class="label">Artist</span>
                            <span class="value"><a ng-href="#/artists/{{::album.album.artist.id}}" ng-bind="::album.album.artist.label"></a></span>
                        </li>
                        <li class="table-row">
                            <span class="label">Year</span>
                            <span class="value" ng-if="!album.editMode" ng-bind="album.album.year"></span>
                            <span class="value" ng-if="album.editMode"><input type="text" ng-model="album.album.year"></span>
                        </li>
                        <li class="table-row">
                            <span class="label">Country</span>
                            <span class="value" ng-if="!album.editMode" ng-bind="album.album.country"></span>
                            <span class="value" ng-if="album.editMode"><input type="text" ng-model="album.album.country"></span>
                        </li>
                    </ul>
                    <button class="plain-button" ng-if="!album.editMode" ng-click="album.remove()"><i class="fa fa-trash"></i> Delete album</button>
                    <button class="plain-button" ng-if="!album.editMode" ng-click="album.edit()"><i class="fa fa-pencil"></i> Edit album</button>
                    <button class="plain-button" ng-if="album.editMode" ng-click="album.save()"><i class="fa fa-save"></i> Save</button>
                    <button class="plain-button" ng-if="album.editMode" ng-click="album.searchMusicBrainz()"><i class="fa fa-search"></i> Search in MusicBrainz</button>
                    <ul class="table" ng-if="album.MusicBrainzResults.length">
                        <li class="grid-header">
                            <span class="grid-cell"></span>
                            <span class="grid-cell">Country</span>
                            <span class="grid-cell">Name</span>
                            <span class="grid-cell">Year</span>
                            <span class="grid-cell">Artist</span>
                        </li>
                        <li class="grid-row clickable" ng-repeat="musicBrainzAlbum in album.MusicBrainzResults | orderBy:['name', 'mbid'] track by musicBrainzAlbum.mbid" title="{{::musicBrainzAlbum.description}}" ng-click="album.useMusicBrainz(musicBrainzAlbum);">
                            <span class="grid-cell"><img ng-src="{{musicBrainzAlbum.coverPath}}" alt="cover" width="50" ng-err-src="/server/covers/default.png"/></span>
                            <span class="grid-cell" ng-bind="::musicBrainzAlbum.country"></span>
                            <span class="grid-cell" ng-bind="::musicBrainzAlbum.name"></span>
                            <span class="grid-cell" ng-bind="::musicBrainzAlbum.year"></span>
                            <span class="grid-cell" ng-bind="::musicBrainzAlbum.artist.label"></span>
                        </li>
                    </ul>
                </fieldset>
                <ul class="table">
                    <li class="grid-header">
                        <span class="grid-cell">N°</span>
                        <span class="grid-cell">Title</span>
                        <span class="grid-cell">Artist</span>
                        <span class="grid-cell">Duration</span>
                        <span class="grid-cell"></span>
                        <span class="grid-cell"></span>
                    </li>
                    <li class="grid-row" ng-repeat="track in album.album.tracks | orderBy:['track', 'title'] track by track.id">
                        <span class="grid-cell" ng-bind="::track.track"></span>
                        <span class="grid-cell" ng-bind="::track.title"></span>
                        <span class="grid-cell"><a ng-href="#/artists/{{::track.artist.id}}" ng-bind="::track.artist.label" title="See artist informations"></a></span>
                        <span class="grid-cell" ng-bind="::track.time | duration | date:'m:ss'"></span>
                        <span class="grid-cell"><button class="button-icon" ng-click="album.add(track)" title="Add to playlist"><i class="fa fa-plus-square-o"></i></button></span>
                        <span class="grid-cell"><a ng-href="#/tracks/{{::track.id}}" title="Edit track"><i class="fa fa-pencil"></i></a></span>
                    </li>
                </ul>
            </article>
