<!doctype html>
<html ng-app="wmpApp">
    <head>
        <meta charset="utf-8">
        <title>Web Music Player</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link type="text/css" href="/display/files/vendor/normalize.css/normalize.css" rel="stylesheet"/>
        <link type="text/css" href="/display/files/vendor/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link type="text/css" href="/display/files/wmp.css" rel="stylesheet"/>
    </head>
    <body ng-controller="SignController">
    <header><h1><i class="fa fa-headphones logo"></i>WMP</h1></header>
        <form class="auth-form" ng-submit="submit()">
            <label for="login">Login</label>
            <input ng-model="user.login" type="text" name="login" id="login" placeholder="Your login" autofocus="autofocus" autocapitalize="off" autocorrect="off" required="required"/>
            <label for="password">Password</label>
            <input ng-model="user.password" type="password" name="password" id="password" placeholder="*****"" required="required"/>
            <input type="submit" value="Sign in" />
            <span ng-class="result.class" ng-bind="result.text"></span>
        </form>
        <script src="/display/files/vendor/angularjs/angular.min.js"></script>
        <script src="/display/files/vendor/angularjs/angular-resource.min.js"></script>
        <script src="/display/files/sign.controller.js"></script>
        <script src="/display/files/user.factory.js"></script>
    </body>
</html>
