            <section class="library">
                <h2><i class="fa fa-archive"></i>Music Library</h2>
                <ul class="grid" ng-cloak>
                    <li class="grid-header">
                        <span class="grid-cell">
                            <span>Title</span>
                            <button class="button-icon" ng-click="library.search.displayFilter.title = !library.search.displayFilter.title" title="Search by title"><i class="fa fa-search"></i></button>
                            <button class="button-icon" ng-click="library.updateOrder(['title', 'album.label', 'artist.label'])" title="Order by title"><i class="fa fa-sort"></i></button>
                            <input ng-if="library.search.displayFilter.title" ng-model="library.search.title" placeholder="Title" autofocus="autofocus" ng-change="library.search.query()" ng-model-options="{ debounce: 1000 }">
                        </span>
                        <span class="grid-cell">
                            <span>Artist</span>
                            <button class="button-icon" ng-click="library.search.displayFilter.artist = !library.search.displayFilter.artist" title="Search by artist"><i class="fa fa-search"></i></button>
                            <button class="button-icon" ng-click="library.updateOrder(['artist.label', 'album.label', 'title'])" title="Order by artist"><i class="fa fa-sort"></i></button>
                            <input ng-if="library.search.displayFilter.artist" ng-model="library.search.artist" placeholder="Artist" autofocus="autofocus" ng-change="library.search.query()" ng-model-options="{ debounce: 1000 }">
                        </span>
                        <span class="grid-cell">
                            <span>Album</span>
                            <button class="button-icon" ng-click="library.search.displayFilter.album = !library.search.displayFilter.album" title="Search by album"><i class="fa fa-search"></i></button>
                            <button class="button-icon" ng-click="library.updateOrder(['album.label', 'artist.label', 'title'])" title="Order by album"><i class="fa fa-sort"></i></button>
                            <input ng-if="library.search.displayFilter.album" ng-model="library.search.album" placeholder="Album" autofocus="autofocus" ng-change="library.search.query()" ng-model-options="{ debounce: 1000 }">
                        </span>
                        <span class="grid-cell">
                        </span>
                    </li>
                    <li class="grid-row" ng-repeat="track in library.tracksFiltered track by track.id">
                        <span class="grid-cell" ng-bind="::track.title"></span>
                        <span class="grid-cell artist"><a ng-href="#/artists/{{::track.artist.id}}" ng-bind="::track.artist.label"></a></span>
                        <span class="grid-cell album"><a ng-href="#/albums/{{::track.album.id}}" ng-bind="::track.album.label"></a></span>
                        <span class="grid-cell"><button class="button-icon" ng-click="library.add(track)" title="Add to playlist"><i class="fa fa-plus-square-o"></i></button></span>
                    </li>
                </ul>
                <ul class="grid pagination" ng-if="library.pagesCount > 1" ng-cloak>
                    <li class="grid-footer">
                        <span class="grid-cell">
                            <button class="button-icon" ng-disabled="library.currentPage === 1" ng-click="library.setPage(library.currentPage - 1)"><i class="fa fa-chevron-circle-left"></i> Previous</button>
                        </span>
                        <span class="grid-cell">Page {{library.currentPage}} / {{library.pagesCount}}
                        </span>
                        <span class="grid-cell">
                            <button class="button-icon" ng-disabled="library.currentPage === library.pagesCount" ng-click="library.setPage(library.currentPage + 1)">Next <i class="fa fa-chevron-circle-right"></i></button>
                        </span>
                    </li>
                </ul>
                <div class="center" ng-if="library.tracks.length === 0">No results found</div>
            </section>
