<!doctype html>
<html ng-app="wmpApp" manifest="/display/wmp.appcache">
    <head>
        <meta charset="utf-8">
        <title>Web Music Player</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link type="text/css" href="/display/files/vendor/normalize.css/normalize.css" rel="stylesheet"/>
        <link type="text/css" href="/display/files/vendor/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link type="text/css" href="/display/files/wmp.css" rel="stylesheet"/>
        <link rel="apple-touch-icon" sizes="57x57" href="/display/files/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/display/files/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/display/files/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/display/files/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/display/files/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/display/files/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/display/files/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/display/files/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/display/files/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/display/files/favicon/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/display/files/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/display/files/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/display/files/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/display/files/favicon/manifest.json">
        <link rel="mask-icon" href="/display/files/favicon/safari-pinned-tab.svg" color="#f50057">
        <link rel="shortcut icon" href="/display/files/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#333333">
        <meta name="msapplication-TileImage" content="/display/files/favicon/mstile-144x144.png">
        <meta name="theme-color" content="#333333">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="Web Music Player">
        <meta name="application-name" content="Web Music Player">
        <base href="/">
    </head>
    <body ng-controller="MenuController as menu">
        <div>
            <header class="header">
                <button class="button-icon" title="Menu" ng-click="menu.toggle()"><i class="fa fa-navicon fa-2x"></i></button>
                <h1><i class="fa fa-headphones logo"></i>WMP</h1>
            </header>
            <nav>
                <ul class="menu" ng-if="menu.visible" ng-cloak>
                    <li ng-repeat="item in menu.items track by $index" ng-class="{'menu-current':item.isCurrentPage()}"><a href={{::item.link}} ng-click="item.setCurrentPage()"><i class="fa fa-fw" ng-class="::item.icon"></i>{{::item.label}}</a></li>
                </ul>
            </nav>
        </div>
        <div class="container" ng-show="!menu.visible">
        <div class="player" ng-controller="PlayerController as player" ng-show="menu.currentPage.link === '#/player'" ng-cloak>
            <div class="player-cover">
                <img class="player-cover" ng-src="{{player.coverPath}}" alt="cover"/>
            </div>
            <nav class="player-controls">
                <input type="range" id="seek" class="player-seek" value="0" max="{{player.duration}}" ng-model="player.currentTime" ng-change="player.seek()"/>
                <div class="player-times">
                    <span class="player-currentTime" ng-bind="player.currentTime | duration | date:'m:ss'">0:00</span>
                    <span class="player-duration" ng-bind="player.duration | duration | date:'m:ss'">0:00</span>
                </div>
                <button class="button-icon player-control prev" ng-click="player.previous()"><i class="fa fa-fast-backward" title="Previous"></i></button>
                <button class="button-icon player-control play" ng-click="player.play()" ng-if="!player.isPlaying" title="Play"><i class="fa fa-play"></i></button>
                <button class="button-icon player-control pause" ng-click="player.pause()" ng-if="player.isPlaying" title="Pause"><i class="fa fa-pause"></i></button>
                <button class="button-icon player-control next" ng-click="player.next()"><i class="fa fa-fast-forward" title="Next"></i></button>
            </nav>
            <ul class="grid" ng-cloak ng-sortable="player.playlistSort">
                <li class="grid-header">
                    <span class="grid-cell"></span>
                    <span class="grid-cell">Title</span>
                    <span class="grid-cell">Artist</span>
                    <span class="grid-cell">Album</span>
                    <span class="grid-cell"></span>
                </li>
                <li class="grid-row track" ng-repeat="track in player.playlist.tracks track by track.sequence" ng-class="{'player-current': player.playlist.currentTrack === $index}">
                    <span class="grid-cell track-handle"><i class="fa fa-ellipsis-v sortable-v" title="Drag and drop to reorder tracks"></i></span>
                    <span class="grid-cell clickable" ng-click="player.play($index)" ng-bind="track.title"></span>
                    <span class="grid-cell clickable" ng-click="player.play($index)" ng-bind="track.artist.label"></span>
                    <span class="grid-cell clickable" ng-click="player.play($index)" ng-bind="track.album.label"></span>
                    <span class="grid-cell"><button class="button-icon remove" ng-click="player.playlist.remove(track)"><i class="fa fa-trash"></i></button></span>
                </li>
                <li class="grid-row" ng-if="player.playlist.tracks.length === 0">
                    <span class="grid-cell">No track in playlist, add some from library</span>
                </li>
            </ul>
        </div>
        <div ng-view ng-show="!menu.visible"></div>
        </div>
        <script src="/display/files/vendor/angularjs/angular.min.js"></script>
        <script src="/display/files/vendor/angularjs/angular-resource.min.js"></script>
        <script src="/display/files/vendor/angularjs/angular-route.min.js"></script>
        <script src="/display/files/vendor/Sortable/Sortable.js"></script>
        <script src="/display/files/vendor/Sortable/ng-sortable.js"></script>
        <script src="/display/files/vendor/angularjs/angular-animate.min.js"></script>
        <script src="/display/files/vendor/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="/display/files/wmp.js"></script>
        <script src="/display/files/playlistItem.factory.js"></script>
        <script src="/display/files/audio.factory.js"></script>
        <script src="/display/files/folder.factory.js"></script>
        <script src="/display/files/library.factory.js"></script>
        <script src="/display/files/album.factory.js"></script>
        <script src="/display/files/artist.factory.js"></script>
        <script src="/display/files/user.factory.js"></script>
        <script src="/display/files/authInterceptor.factory.js"></script>
    </body>
</html>
