            <section ng-controller="UserController as profile">
                <h2><i class="fa fa-user"></i>Profile</h2>
                <form class="auth-form" ng-submit="profile.submit()">
                    <label>login*</label>
                    <input ng-model="profile.user.login" type="text" name="login" id="login" placeholder="Your login" autocorrect="off" required="required" readonly="readonly" disabled="disabled"/>
                    <label for="name">name*</label>
                    <input ng-model="profile.user.name" type="text" name="name" id="name" placeholder="Your displayed name" autofocus="autofocus" autocorrect="off" required="required"/>
                    <label for="email">email*</label>
                    <input ng-model="profile.user.email" type="text" name="email" id="email" placeholder="Your email address" autocorrect="off" required="required"/>
                    <label for="password">password*</label>
                    <input ng-model="profile.user.password" type="password" name="password" id="password" placeholder="*****"" required="required"/>
                    <input type="submit" value="Save"/>
                    <span ng-class="profile.result.class" ng-bind="profile.result.text"></span>
                </form>
            </section>
