@CHARSET "UTF-8";
/*! wmp.css v1.0.0 */
body {
    font-family: "Helvetica Neue", "Helvetica", "Calibri", "sans";
    background-color: #383838;
    color: white;
}
.clickable {
    cursor: pointer;
}
.current-title {
    overflow-x: auto;
    height: 1.1em;
}
.grid {
    list-style-type: none;
    padding: 0;
    max-width: 100%;
    display: table;
    overflow-x: scroll;
}
.grid-row {
    display: table-row;
}
.grid-header {
    display: table-header-group;
    font-weight: bold;
}
.grid-col {
    display: table-cell;
}
.grid input{
    width: 90%;
    color: #383838;
}
.current{
    font-weight: bold;
    background-color: white;
    color: #383838;
}
.current .button-icon{
    color: #383838 !important;
}
.cover{
    height: 200px;
    width: 200px;
}
.button-icon{
    border: none;
    background: none;
    color: white;
}
.control{
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
}
.seek {
    -webkit-appearance: none;
    -moz-appearance:none;
    display: block;
    width: 200px;
    height:16px;
    margin: 15px 0 0;
    border: none;
    border-radius: 20px;
    background-color: #242323;
    box-shadow: inset 0 4px 4px rgba(0,0,0,.6);
}
.seek::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,.6);
}
.seek::-moz-range-track {
    height: 0;
}
.seek::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    background: white;
    box-shadow: 0px 0px 16px rgba(0,0,0,.6);
}
.fa{
    padding: 0 0.5rem;
}
@media screen and (max-width:1000px) {
    .controls, .cover{
        text-align: center;
        margin: auto;
    }
    .seek {
        margin: 15px auto 0;
    }
}