@CHARSET "UTF-8";
/*! wmp.css v1.0.0 */
body {
    font-family: "Helvetica Neue", "Helvetica", "Calibri", "sans";
    background-color: #383838;
    color: white;
}
a:visited {
    color: inherit;
}
.header {
    background-image: linear-gradient(#333333, #222222);
    display: flex;
    padding: 0.4rem 0;
}
h1 {
    text-align: center;
    width: 100%;
}
.header h1 {
    margin: 0 34px 0 0;
}
header * {
    color: #F50057;
    text-shadow: 0 0 1rem #000000;
}
.auth-form {
    width: 300px;
    margin: 20px auto 20px;
    padding: 20px;
    background-color: #333333;
    border: 1px solid #222222;
    border-radius: 5px;
}
.auth-form input, .auth-form label {
    display: block;
    width: 100%;
    margin-bottom: 7px;
    box-sizing: border-box;
}
.auth-form input {
    border: 1px solid #222222;
    border-radius: 3px;
    padding: 7px 8px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.4)
}
.auth-form input[type="button"], input[type="reset"], input[type="submit"] {
    background-image: linear-gradient(#333333, #222222);
    margin-top: 20px;
    color: #FFFFFF;
}
.form-error {
    color: #FF5252;
    margin-top: 20px;
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.form-valid {
    color: #4CAF50;
    margin-top: 20px;
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.fa {
    padding: 0.1em;
}
.clickable {
    cursor: pointer;
}
.sortable-v {
    cursor: row-resize;
}
.grid {
    list-style-type: none;
    padding: 0;
    max-width: 100%;
    display: table;
    overflow-x: scroll;
    border: #222222 1px solid;
}
.grid-row {
    display: table-row;
}
.grid-row:nth-child(2n+1) {
    background-color: #333333;
}
.grid-row:nth-child(2n+2) {
    background-color: #383838;
}
.grid-header {
    display: table-header-group;
    background-image: linear-gradient(#333333, #222222);
    font-weight: bold;
}
.grid-cell {
    display: table-cell;
    padding: 4px 6px;
}
.grid input{
    width: 100%;
    color: #383838;
    display: block;
    box-sizing: border-box;
    border: 1px solid #222222;
    border-radius: 3px;
    padding: 3px 6px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.4)
}
.grid-header .grid-cell {
    white-space: nowrap;
}
.table {
    display: table;
    padding: 0;
    margin: 0;
}
.table-row {
    display: table-row;
}
.table-row .label {
    display: table-cell;
    font-style: italic;
    padding-right: 0.5rem;
}
.table-row .value {
    display: table-cell;
    font-weight: bold;
}
.tree {
    list-style-type: none;
    padding: 0 0 0 1em;
}
.tree li {
    margin: 0.5em 0;
}
.folder-icn {
    color: #EFC726;
}
.music-file-icn {
    color: #F50057;
}
.folder-icn,
.music-file-icn {
    padding: 0 0.5em;
}
.player-current{
    color: #F50057;
}
.player-current .button-icon{
    color: #F50057;
}
.player-cover{
    height: 200px;
    width: 200px;
}
.button-icon{
    border: none;
    background: none;
    color: white;
    padding: 0 0.3em;
}
.player-control{
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
}
.player-seek {
    -webkit-appearance: none;
    -moz-appearance:none;
    display: block;
    width: 200px;
    height:16px;
    margin: 15px 0 0;
    border: none;
    border-radius: 20px;
    background-color: #242323;
    box-shadow: inset 0 4px 4px rgba(0,0,0,.6);
}
.player-seek::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,.6);
}
.player-seek::-moz-range-track {
    height: 0;
}
.player-seek::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,.6);
}
.player-times {
    width: 200px;
    font-size: 0.8rem;
    padding: 2px 6px;
    box-sizing: border-box;
    text-align: left;
}
.player-currentTime {
}
.player-duration {
    float: right;
}
.logo {
    padding-right: 8px;
    font-weight: 900;
}
.menu {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #383838;
    z-index: 10;
    list-style: none;
    box-sizing: border-box;
}
.menu li {
    padding: 6px;
    border-bottom: 1px solid #333333;
    font-size: 1.2rem;
}
.menu .fa {
    margin-right: 12px;
}
.menu a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 0.2rem #000000;
}
.menu .menu-current a {
    color: #F50057;
}
.menu.ng-enter, .menu.ng-leave {
    transition: all ease-in-out 0.3s;
}
.menu.ng-leave, .menu.ng-enter.ng-enter-active {
    left: 0;
    width: 100%;
}
.menu.ng-enter, .menu.ng-leave.ng-leave-active {
    left: -100%;
    width: 50%;
}
.container.ng-hide-add {
    transition: all step-start 0.3s;
}
.container.ng-hide-remove {
    transition: all step-end  0.3s;
    display: none !important;
}
.container.ng-hide {
    display: none !important;
}
[ng-cloak], .ng-cloak {
    display: none;
}
h2 .fa {
    padding: 0 10px;
}
@media screen and (max-width:1000px) {
    .player-controls, .player-cover {
        text-align: center;
        margin: auto;
        width: 100%;
        height: auto;
    }
    .player-seek {
        margin: 15px auto 0;
        width: 90%;
    }
    .player-times {
        margin: auto;
        width: 90%;
    }
    .grid {
        width: 100%;
        border: none;
    }
}
